<div class="main">
  <div class="title-contents">
    <%= link_to image_tag("topdai.jpg", class:"top-contents"), "#" %>
  </div>
  <div class="topics-title">
  <strong>Topics</strong>
  </div>
  <table class="topics">
    <tr>
      <th class="topics-date">2021.02.15</th> 
      <td><a> 2月末までご利用でお得なキャンペーン実施中！ </a></td>
    </tr>
    <tr>
      <th class="topics-date">2021.02.10</th> 
      <td><a> 緊急事態宣言の対応について </a></td>
    </tr>
    <tr>
      <th class="topics-date">2021.02.08</th> 
      <td><a> 紹介キャンペーンのご案内 </a></td>
    </tr>
  </table>

  <div class="facility-list-title">
    <strong>施設一覧</strong>
  </div>
  <div class="facility-list">
    <ul class="fac-list">
      <li class="facility-contents">
      <div class="facility-image">
        <%= link_to image_tag("gym1.jpg", class:"gym1-image" ) , "#" %>
      <div class="facility-body">
      <%= link_to "町田店", "#", class:"facility-title"%>
      <p class="facility-copy"> <strong>24時間営業</strong> </p>
      </div>
     </div>
    </li>
  </ul>
  </div>
</div>