<div class="facility-show">
  <div class="facility-box-show">
      <div class="facility-show-name">
         <strong>町田店</strong>
      </div>
      <div class="fac-img-content">
         <%=link_to image_tag("gym1.jpg", class:"gym1-image-show" ) ,class:"fac-box-img" %>
      </div>
  </div>

  <table class="detail-table-show">
      <tbody>
        <tr>
          <th class="detail-fac">住所</th>
          <td class="detail-value"> 東京都町田市原町田5-20-3 </td>
        </tr>
        <tr>
          <th class="detail-fac">料金</th>
          <td class="detail-value"> ¥1,500〜/H </td>
        </tr>
        <tr>
          <th class="detail-fac">営業時間</th>
          <td class="detail-value">24時間営業</td>
        </tr>
        <tr>
          <th class="detail-fac">施設説明</th>
          <td class="detail-value"> 個人用トレーニングルーム</td>
        </tr>
        <tr>
          <th class="detail-fac">アイテム</th>
          <td class="detail-value"> パワーラック1台<br>ダンベル10〜20kg 2kg毎 </td>
        </tr>
        <tr>
          <th class="detail-fac">注意事項</th>
          <td class="detail-value"> トイレ・シャワーはありません </td>
        </tr>
      </tbody>
    </table>
  <div class="facility-resavation">
    <strong>ご利用のご予約はこちらから</strong>
  </div>
</div>